.svg{
    background-color: #ccc;
}


/* Fazendo referência ao rect que está dentro do svg */
.svg ellipse{
    /* Fill define a cor do preenchimento da elipse  */
    fill: blue;
    /* Stroke define a borda */
    stroke: red;
    stroke-width: 3;
    /* Podemos adicionar uma opacidade usando o opacity="" */
    opacity: 0.5;
}